@page
@model ConestogaVirtualGameStore.Pages.Profile.DoesNotExistModel
@{
    ViewData["Title"] = "CVGS - Profile does not exist";
}

<div class="d-flex justify-content-center align-items-center" style="height: 75vh;">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">Error</h1>
    <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" id="desc">The profile you are looking for does not exist.</h2>
    </div>
</div>
