@page
@model GameStore.Pages.Friends.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Placeholder for a the users friends where IsFamily == false (List of Friendship queried with IsFamily == false)</h2>

