@page "/Settings/Addresses"
@model AddressesModel
@{
    ViewData["Title"] = "Your addresses";
    ViewData["ActivePage"] = ManageNavPages.Address;
}

<h4 class="mb-4">@ViewData["Title"]</h4>

<div class="container">
    <div class="row mb-3">
        <a asp-page="Add" class="card-link p-0 col-4 mr-3">
            <div class="card p-0" style="height: 14rem; border-style: dashed; border-width: 2px">
                <div class="card-body d-flex flex-column text-center justify-content-center align-items-center">
                    <i class="fa fa-plus fa-2x" style="color: darkgray"></i>
                    <span class="text-dark font-weight-bold">Add Address</span>
                </div>
            </div>
        </a>

        <div class="card col-4 mr-3" style="height: 14rem;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title mb-1">Lucas Winkler</h5>
                <p class="card-text mb-0">57 Kingsboro Road</p>
                <p class="card-text mb-0">Cambridge, Ontario N1P1H1</p>
                <p class="card-text">Canada</p>

                <div class="mt-auto">
                    <a href="#" class="card-link">Edit</a>
                    <span class="ml-2 mr-2">|</span>
                    <a href="#" class="card-link">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}