@page "/Wishlist"
@model WishlistModel
@{
    ViewData["Title"] = "Wishlist";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" for="StatusMessage" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Games)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
//Probably put delete/remove from wishlsit here
@*<form method="post" class="float-right">
    <input type="submit" value="Checkout" class="btn btn-success" />
</form>*@