@page "/Admin"
@model GameStore.Web.Pages.Admin.IndexModel
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Dashboard";
    ViewData["ActivePage"] = DashboardNavPages.Index;
}

<div class="m-5 text-center">
    <div class="py-5">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
    <p style="font-size: 1.2rem">
        This admin panel is designed to let you manage the store.<br />
        You are able to manage the stores available games as well as any ongoing events.<br />
        You will also be able to accept any pending reviews for games.<br />
        <br /><br />
        If you want to check out any statistics you can do so by choosing a report from the menu.
    </p>
</div>
