@page "/Cart/Checkout/Confirmation"
@model GameStore.Web.Pages.Cart.ConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}

<div class="jumbotron text-center bg-white">
    <h1 class="display-4">Your purchase has been successful!</h1>
    <p class="lead">You can now access your games in your <strong>game library</strong>.</p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-page="/Games/Library" role="button">Continue to game library</a>
    </p>
</div>
