@page "/Cart"
@model GameStore.Web.Pages.Cart.IndexModel
@{
    ViewData["Title"] = "Your cart";
}

<div class="pb-5">
    <div class="container">
        <div class="text-center py-5">
            <h1 class="display-4">@ViewData["Title"]</h1>
        </div>
        @if (Model.IsCartEmpty)
        {
            <div class="row">
                <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5 text-center">
                    <p>Your cart is empty.</p>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                    <div class="table-responsive">
                        <form method="post" class="form-inline">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="p-2 px-3 text-uppercase">Game</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Price</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Remove</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var game in Model.Games)
                                    {
                                        <tr>
                                            <th scope="row" class="border-0">
                                                <div class="p-2">
                                                    <div class="ml-3 d-inline-block align-middle">
                                                        <h5 class="mb-0">
                                                            <a href="#" class="text-dark d-inline-block align-middle">@game.Title</a>
                                                        </h5>
                                                        <span class="text-muted font-weight-normal font-italic d-block">Category: @game.Category.Name</span>
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="border-0 align-middle"><strong>$@game.Price</strong></td>
                                            <td class="border-0 align-middle">

                                                <button type="submit" asp-page-handler="Remove" asp-route-gameId="@game.Id" class="btn btn-link text-dark"><i class="fa fa-trash"></i></button>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    <div class="p-4">
                        <ul class="list-unstyled mb-4">
                            <li class="d-flex justify-content-between py-3 border-bottom">
                                <strong class="text-muted">Total</strong>
                                <h5 class="font-weight-bold">$@Model.Total</h5>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
