@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
@using Microsoft.AspNetCore.WebUtilities;

<div class="d-flex justify-content-center align-items-center" style="height: 75vh;">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">Error @Model.StatusCode.</h1>
    <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" id="desc">@ReasonPhrases.GetReasonPhrase(@Model.StatusCode ?? 404).</h2>
    </div>
</div>
