@page "/Store"
@model StoreModel
@{
    ViewData["Title"] = "Store";
}

<div class="text-center py-5">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div class="row justify-content-center">
    <div class="col-lg-9">
        <form class="mb-3">
            <div class="input-group md-form form-sm form-1 pl-0">
                <div class="input-group-prepend">
                    <select asp-for="Category" asp-items="Model.Categories" class="custom-select">
                        <option value="" selected="selected">Any category</option>
                        <option disabled>---------------</option>
                    </select>
                </div>
                <input class="form-control my-0 py-1" type="search" placeholder="Search by title" asp-for="Search">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
        <div class="row">
            @if (Model.Games.Count == 0)
            {
                <div class="col text-center mt-5">
                    <h5>Unable to find any available games.<br />Try adjusting your search or come back again later.</h5>
                </div>
            }
            @foreach (var game in Model.Games)
            {
                var ratingCount = game.Reviews.Count;
                double ratingAverage = (game.TotalRating == 0) || (ratingCount == 0) ? 0 : game.TotalRating / ratingCount;

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a asp-page="./Details" asp-route-id="@game.Id">@game.Title</a>
                            </h4>
                            <h5 class="text-success">$@game.Price</h5>
                            <p class="card-text block-with-text">@game.Description</p>
                        </div>
                        <div class="card-footer bg-white">
                            <small class="text-warning">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= Math.Floor(ratingAverage))
                                    {
                                        <i class="fas fa-star"></i>
                                    }
                                    else if (i > Math.Ceiling(ratingAverage))
                                    {
                                        <i class="far fa-star"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-star-half-alt"></i>
                                    }
                                }
                                <span class="ml-1 text-dark">@ratingAverage stars</span>
                            </small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>