@page "/ConfirmEmail"
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="text-center align-items-center">
    <h3><i class="fa fa-check-circle fa-4x"></i></h3>
    <h2 class="text-center">@ViewData["Title"]</h2>
    <p>
        Thank you for confirming your email!<br />If you ever forget your password you will be able to request another.
    </p>
</div>
