@page "/ForgotPassword"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password?";
}

<div class="text-center align-items-center">
    <h3><i class="fa fa-lock fa-4x"></i></h3>
    <h2 class="text-center">@ViewData["Title"]</h2>
    <p>You can reset your password here.</p>
    <form class="form-custom" method="post">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input asp-for="Input.Email" class="form-control" placeholder="Email address" type="email" autofocus>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
