@page "/Login"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="text-center align-items-center">
    <form class="form-custom" id="login" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <partial name="_StatusMessage" for="StatusMessage" />
        <div class="col">
            <div class="row">
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
        </div>
        <label asp-for="Input.UserName" class="sr-only">Username</label>
        <input asp-for="Input.UserName" type="text" class="form-control" placeholder="Username" required autofocus>
        <label asp-for="Input.Password" class="sr-only">Password</label>
        <input asp-for="Input.Password" type="password" class="form-control mb-0" placeholder="Password" required>
        <div class="col">
            <div class="row">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="custom-control custom-checkbox mb-3 mt-3">
            <input asp-for="Input.RememberMe" type="checkbox" class="custom-control-input">
            <label asp-for="Input.RememberMe" class="custom-control-label"></label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div class="form-group mt-4">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                <hr class="my-3" />
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
