@page "/Settings/BillingAddress"
@model AddressModel
@{
    ViewData["Title"] = "Billing address";
    ViewData["ActivePage"] = ManageNavPages.BillingAddress;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="address-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address.PrimaryAddress"></label>
                <input asp-for="Address.PrimaryAddress" class="form-control" placeholder="Primary address" />
                <span asp-validation-for="Address.PrimaryAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.SecondaryAddress"></label>
                <input asp-for="Address.SecondaryAddress" class="form-control" placeholder="Secondary address" />
                <span asp-validation-for="Address.SecondaryAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Country"></label>
                <input asp-for="Address.Country" class="form-control" placeholder="Country" />
                <span asp-validation-for="Address.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Province"></label>
                <input asp-for="Address.Province" class="form-control" placeholder="Province" />
                <span asp-validation-for="Address.Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City"></label>
                <input asp-for="Address.City" class="form-control" placeholder="City" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.PostalCode"></label>
                <input asp-for="Address.PostalCode" class="form-control" placeholder="Postal or zip code" />
                <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
            </div>

            <div class="form-row">
                <div class="col">
                    <button id="update-billing-address-button" type="submit" class="btn btn-primary btn-block">Save</button>
                </div>
                <div class="col">
                    <button id="remove-billing-address-button" type="submit" class="btn btn-danger btn-block" asp-page-handler="RemoveAddress">Remove</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}