@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <label asp-for="Input.OldPassword"></label>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input asp-for="Input.OldPassword" class="form-control" placeholder="Current password" type="password" autofocus tabindex="1">
            </div>
            <label asp-for="Input.NewPassword"></label>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input asp-for="Input.NewPassword" class="form-control" placeholder="New password" type="password" tabindex="2">
            </div>
            <label asp-for="Input.ConfirmPassword"></label>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm password" type="password" tabindex="3">
            </div>
            <button type="submit" class="btn btn-primary" tabindex="4">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}