@page
@model ConestogaVirtualGameStore.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron bg-transparent">
    <h1 class="display-4">Conestoga Virtual Game Store</h1>
    <p class="lead">
        This website is a virtual game store created in <strong>ASP.NET Core 2.2</strong> and a <strong>code-first</strong> design.
        <br />
        It has been created for the <strong>PROG3050 Microsoft Enterprise</strong> course at <strong>Conestoga College</strong>.
        <br />
        <br />
        Each team member had an assigned role but everyone put in work where it was needed.
    </p>

    <hr class="my-4" />

    <dl class="row">
        <dt class="col-sm-3">Project Manager</dt>
        <dd class="col-sm-9"><a href="https://github.com/Clow8128">Cameron Low</a></dd>
        <dt class="col-sm-3 text-truncate">Backend Developer</dt>
        <dd class="col-sm-9"><a href="https://lucaswinkler.dev/">Lucas Winkler</a></dd>
        <dt class="col-sm-3">Database Developer</dt>
        <dd class="col-sm-9"><a href="https://github.com/xanderdrinnan">Xander Drinnan</a></dd>
        <dt class="col-sm-3">Frontend Developer</dt>
        <dd class="col-sm-9"><a href="https://github.com/FernandoGuardado1998">Fernando Guardado</a></dd>
    </dl>
</div>
