@page
@model GameStore.Pages.Family.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Placeholder for a the users friends where IsFamily == true (List of Friendship queried with IsFamily == true)</h2>

