@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    var userAccount = await UserManager.GetUserAsync(User);
    var cartItemCount = ViewData["CartItemCount"];
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3 bg-primary">
    <div class="container">
        <a class="navbar-brand" asp-page="/Home/Index">Conestoga Virtual Game Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Home/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Games/Store/Index">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Events/Index">Events</a>
                </li>
            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                <div>
                    @await Component.InvokeAsync("CartCount")
                </div>
                
                @if (userAccount.IsAdmin)
                {
                    <div class="dropdown mr-1">
                        <button class="btn btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin Panel
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-page="/Admin/Games/Index">
                                <i class="fas fa-gamepad"></i>
                                Manage Games
                            </a>
                            <a class="dropdown-item" asp-page="/Admin/Events/Index">
                                <i class="fas fa-calendar-alt mr-2"></i>
                                Manage Events
                            </a>
                            <a class="dropdown-item" asp-page="/Admin/Games/PendingReviews">
                                <i class="fas fa-star-half-alt mr-1"></i>
                                Manage Reviews
                            </a>
                        </div>
                    </div>
                }
            }
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>