@{
    Layout = "/Pages/Shared/_Layout.cshtml";
 
}

<div class="container-fluid admin">
    <div class="row">
        <partial name="_DashboardNav" />

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                @RenderBody()
            </div>
        </main>
    </div>
</div>