@{
    Layout = "/Pages/Shared/_BaseLayout.cshtml";

}

@section Styles {
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
}

<main role="main">
    @RenderBody()
</main>

@section Libraries {
    <partial name="_LibraryScriptsPartial" />
}

@section Scripts {
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
}