@page
@model GameStore.Pages.Games.Library.ReviewModel

@{
    ViewData["Title"] = "Review";
}

<h1>Review @ViewData["GameTitle"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Review.ReviewerId" class="control-label"></label>
                <select asp-for="Review.ReviewerId" class ="form-control" asp-items="ViewBag.ReviewerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Review.GameId" class="control-label"></label>
                <input asp-for="Review.GameId" class="form-control" />
                <span asp-validation-for="Review.GameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Content" class="control-label"></label>
                <textarea asp-for="Review.Content" class="form-control"></textarea>
                <span asp-validation-for="Review.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Rating" class="control-label"></label>
                <input asp-for="Review.Rating" class="form-control" />
                <span asp-validation-for="Review.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.CreatedDate" class="control-label"></label>
                <input asp-for="Review.CreatedDate" value="@DateTime.Today" class="form-control" />
                <span asp-validation-for="Review.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
