@page "{errorCode?}"
@model GameStore.Web.Pages.ErrorModel
@{
    ViewData["Title"] = $"Error {Model.ErrorCode}";
}
<div class="d-flex justify-content-center align-items-center" style="height: 75vh;">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">Error @Model.ErrorCode</h1>
    <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" id="desc">
            @Model.ErrorMessage.
        </h2>
    </div>
</div>
