@page "/Settings/Addresses/Edit"
@model GameStore.Web.Pages.Account.Settings.Addresses.EditModel

@{
    ViewData["Title"] = "Edit your address";
    ViewData["ActivePage"] = ManageNavPages.Address;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Account/Settings/Index">Settings</a></li>
        <li class="breadcrumb-item"><a asp-page="./Index">Your Addresses</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Address</li>
    </ol>
</nav>
<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Address.Id" />
            <label asp-for="Address.Country"></label>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-globe"></i> </span>
                </div>
                <select asp-for="Address.Country" asp-items="Model.Countries" class="form-control">
                    <option selected="selected" value="">Select country</option>
                </select>
            </div>
            <label asp-for="Address.FullName"></label>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-user"></i> </span>
                </div>
                <input asp-for="Address.FullName" class="form-control" placeholder="Full name" type="text">
            </div>
            <label asp-for="Address.StreetAddress"></label>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-map-marker"></i> </span>
                </div>
                <input asp-for="Address.StreetAddress" class="form-control" placeholder="Street address" type="text">
            </div>
            <label asp-for="Address.City"></label>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-map-marker"></i> </span>
                </div>
                <input asp-for="Address.City" class="form-control" placeholder="City" type="text">
            </div>
            <div id="provinceGroup" class="hidden">
                <label asp-for="Address.StateProvinceRegion">Province</label>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-map-marker"></i> </span>
                    </div>
                    <select asp-for="Address.StateProvinceRegion" asp-items="Model.Provinces" class="form-control" disabled>
                        <option selected="selected" value="">Select province</option>
                    </select>
                </div>
            </div>
            <div id="stateRegionGroup">
                <label asp-for="Address.StateProvinceRegion">State/region</label>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-map-marker"></i> </span>
                    </div>
                    <input asp-for="Address.StateProvinceRegion" class="form-control" placeholder="State or region" type="text">
                </div>
            </div>
            <label asp-for="Address.PostalCode"></label>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-map-marker"></i> </span>
                </div>
                <input asp-for="Address.PostalCode" class="form-control" placeholder="Postal or zip code" type="text">
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/addresses.js"></script>
}
