@page
@model GameModel
@{
    ViewData["Title"] = "Game";
}

<table class="table" border="0">
    <thead>
        <tr>
            <th><a asp-page="./Index">Back</a></th>
            <th></th>
            <th rowspan="2" align="right"><a asp-page="./Index">Add To Cart</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h3>@Model.Game.Title</h3>
                <p>Developer: @Model.Game.Developer</p>
                <p>Category: @Model.Game.Category.Name</p>
                <p>Rating: @Model.Game.TotalRating</p>
            </td>
        </tr>
    </tbody>
</table>