@page "/ForgotPassword/Confirmation"
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="text-center align-items-center">
    <h3><i class="fa fa-lock fa-4x"></i></h3>
    <h2 class="text-center">@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
    </p>
</div>