@page "/ResetPassword/Confirmation"
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password Reset";
}

<div class="text-center align-items-center">
    <h3><i class="fa fa-lock fa-4x"></i></h3>
    <h2 class="text-center">@ViewData["Title"]</h2>
    <p>
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>
