@page "/ResetPassword"
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="text-center align-items-center">
    <h3><i class="fa fa-lock fa-4x"></i></h3>
    <h2 class="text-center">@ViewData["Title"]</h2>
    <form class="form-custom" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input asp-for="Input.Email" class="form-control" placeholder="Email address" type="email" autofocus>
        </div>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input asp-for="Input.Password" class="form-control" placeholder="Create password" type="password">
        </div>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm password" type="password">
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
