@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Conestoga Virtual Game Store</h1>
    <p>This website was created by Lucas Winkler, Cameron Low, Xander Drinnan, and Fernando Guardado</p>
</div>
