@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Conestoga Virtual Game Store</h1>
    <p>
        This website was created by
        <a href="https://lucaswinkler.dev/">Lucas Winkler</a>,
        <a href="https://github.com/Clow8128">Cameron Low</a>,
        <a href="https://github.com/xanderdrinnan">Xander Drinnan</a>, and
        <a href="https://github.com/FernandoGuardado1998">Fernando Guardado</a>.
    </p>
</div>